name: Main

on:
  push:
      branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  check:
    uses: ./.github/workflows/checks.yml

  test:
    uses: ./.github/workflows/test.yml

  release:
    needs:
      - check
      - test
    uses: ./.github/workflows/release.yml
    secrets: inherit