name: Test
on:
  workflow_call:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up GraalVM
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '25'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache Gradle
        uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Make Gradle wrapper executable (Unix)
        if: runner.os != 'Windows'
        run: chmod +x gradlew

      - name: Verify Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5

      - name: Run tests
        run: ./gradlew --no-daemon test

      - name: Generate coverage report
        run: ./gradlew --no-daemon koverHtmlReport koverXmlReport

      - name: Publish test report artifacts
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: test-reports-${{ matrix.os }}
          path: build/reports/tests/test

      - name: Publish coverage report artifacts
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: coverage-reports-${{ matrix.os }}
          path: build/reports/kover
